* {
  box-sizing: border-box;
}


/*======== Shopping Cart End========*/
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  color: #162d3d;
  background-color: #e8eaff;
  height: 100px;
  margin: 0px;
  margin-bottom: 10px;
}
.cartContainer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cartContainer > div:first-child {
  width: 65%;
}
.cartContainer > div:last-child {
  width: 35%;
}

.cartContainer .itemsBox {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-left: 30px;
  margin-bottom: 10px;
  position: relative;
  color: #162d3d;
  font-size: 17px;
  border-radius: 6px;
  padding: 15px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px -1px rgba(0,0,0,.1);
}
@media (max-width: 1050px) {
  .cartContainer > div:first-child {
    width: 100%;
    margin-left: 0;
  }
  .cartContainer > div:last-child {
      width: 700px;
      margin: 0 auto;
  }
}
@media (max-width: 530px) {
  .cartContainer .itemsBox {
    flex-direction: column;
    text-align: center;
  }
}
.cartContainer .itemsBox:hover {
  background-color: #efefefb9;
}
.cartContainer .itemsBox div:first-child {
  margin-right: 5px;
}
.cartContainer .itemsBox .itemsBoxContent div {
  margin: 10px 0;
}
.cartContainer .itemsBox .itemsBoxContent h3 {
  margin: 0;
}
.cartContainer .itemsBox .deleteItemsCart {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
@media (max-width: 530px) {
  .cartContainer .itemsBox .deleteItemsCart {
  left: -83%;
  top: 10px;
  }
}
.cartContainer .itemsBox .favorite {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #488aec;
}
.cartContainer .itemsBox .deleteItemsCart i {
  color: rgb(255, 0, 98);
}
.cartContainer .itemsBox .favorite i {
  color: #488aec;
}
.cartContainer .itemsBox i {
  font-size: 25px;
}
.cartContainer .itemsBox .update {
  background-color: #488aec;
  outline: none;
  border: 0;
  border-radius: 3px;
  padding: 5px 15px;
  margin-left: 9px;
  color: #162d3d;
  cursor: pointer;
}
@media (max-width: 400px) {
  .cartContainer .itemsBox .update {
    margin-top: 10px;
  }
}

.cartContainer .checkout {
  background-color: #fcfcfc;
  border: 1px solid #c1c1c1;
  padding: 15px;
  border-radius: 16px;
  height: fit-content;
  color: #162d3d;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.cartContainer .checkout h1 {
  text-align: center;
  margin: 0;
}
.cartContainer .checkout form > div {
  display: flex;
  justify-content: space-between;
}

.submit-btn {
  width: 55%;
  margin: 0 auto;
}
.cartContainer .checkout form input[type="submit"] {
  width: 100%;
  padding: 10px 15px;
  border-radius: 20px;
  margin: 0 auto;
  font-size: 20px;
  border: 1px solid #488aec;
  background-color: #488aec45;
  cursor: pointer;
}
.cartContainer .checkout form input[type="submit"]:hover {
  background-color: #488aec;
  color: white;
}
.cartEmpty {
  text-align: center;
}
.cart-image {
  margin-top: 90px;
  margin-bottom: 50px;
  text-align: center;
}
.start-shopping {
  text-align: center;
}
.start-shopping button{
  text-align: center;
  width: 300px;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 20px;
  border: 1px solid #488aec;
  background-color: #488aec45;
  cursor: pointer;
}
/*======== Shopping Cart End========*/
/*======== Start wish list End========*/
.wishEmpty {
  text-align: center;
}
.wish-image {
  text-align: center;
  margin-bottom: 20px;
}
/*======== wish list End========*/
/* ======== Payment page Star And Addresses page ======== */
.MainHeader {
  padding: 10px;
  background-color: #e8eaff;
  min-height: 180px;
  text-align: center;
  color: #162d3d;
  font-weight: bold;
}
.MainContent {
  color: #162d3d;
  font-weight: bold;
  background-color: white;
  border-radius: 6px;
  padding: 20px;
  max-width: 700px;
  margin: 0 auto;
  margin-top: -50px;
  box-shadow: 0px 0px 6px 2px #e8eaff;
}
.MainContent input {
  width: 100%;
  padding: 15px;
  border-radius: 6px;
  outline: 0;
  border: 1px solid #e8eaff;
  font-size: 16px;
}
.MainContent h1 {
  margin-top: 0;
  text-align: center;
}
.credit-card {
  display: flex;
  justify-content: space-between;
}
.credit-card img {
  width: 260px;
  height: 45px;
}
@media (max-width: 430px) {
  .credit-card {
    display: block;
    margin-bottom: 10px;
  }
}
.MainContent label {
  color: #333;
}
.MainContent input:hover {
  background-color: #e8eaff;
}
.MainContent .parentDiv {
  justify-content: space-between;
  display: flex;
}
.MainContent .parentDiv div {
  width: 45%;
}
.MainContent label::after {
  content: "*";
  color: red;
  margin-left: 5px;
}
.MainContent .MainSubmit {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.MainContent input[type="submit"],
.MainContent button, .mainLink {
  width: 200px;
  padding: 10px 15px;
  border-radius: 20px;
  margin: 0 1%;
  font-size: 20px;
  border: 1px solid #488aec;
  background-color: #488aec45;
  cursor: pointer;
  color: #162d3d;
  text-decoration: none;

}
.MainContent input[type="submit"]:hover,
.MainContent button:hover,
.mainLink:hover {
  background-color: #488aec;
  color: white;
}
@media (max-width: 500px) {
  .payment input[type="submit"]:first-child {
    margin-bottom: 10px;
  }
}
.MainError{
  color: red;
  margin: 0;
  padding: 0;
  display: none;
}
.MainErrorSAddresses {
  color: red;
  margin: 0;
  padding: 0;
}
.MainError i {
  margin-right: 10px;
}
.MessagePaid {
  background-color: #d1e7dd; 
  color: #0f5132; 
  padding: 25px; 
  font-size: 20px;
  margin-bottom: 50px;
}
.MessagePaid-btn{
  text-align: center;
}
.MessagePaid-btn button{
  padding: 15px 25px;
  background-color: #488aec;
  border: 0;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
}
/* ======== Payment page Star And Addresses page End ======== */
